body {
    background-color: lightcyan;
}
.grid {
    width: 700px;
    height: 525px;
    margin: 50px auto;
    background-color: white;
    padding: 25px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid lightslategray;
    box-shadow: 10px 15px 5px lightslategray;
}

.grid h1 {
    background-color: lightsteelblue;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #questions {
    font-size: 30px;
    color: black;
}

.buttons {
    margin-top: 30px;
}
.nextBtn {
    margin-bottom: 15px;
}

.btn0, .btn1, .btn2, .btn3 {
    background-color: lightsteelblue;
    position: relative;
    width: 250px;
    font-size: 20px;
    color: black;
    border: 1px solid darkgrey;
    border-radius: 50px;
    margin: 15px 15px 10px 10px;
}
.btn0:hover, .btn1:hover, .btn2:hover, .btn3:hover{
    background-color:white;
}
.btn0:focus, .btn1:focus, .btn2:focus, .btn3:focus{
    outline:0;
}
#progress {
    color: black;
    font-size: bold 20px;
}
#startButton {
    width: 700px;
    height: 525px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 2rem;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    outline: none;
    position: relative;
}